@import "./bootstrap-reboot.scss";
@import "./mixins.scss";
@import "./theme.scss";
@import "./variables.scss";
@import "./utilities.scss";
#ob-app {
  display: flex;
  justify-content: center;
  .root {
    max-width: 1920px;
    flex-grow: 1;
  }
  background-color: var(--body-color);

  .responsive-items {
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 $body-padding;
    @include breakpoint(mobileonly) {
      padding: 0 $body-padding-mobile;
    }
    .store {
      &:hover {
        cursor: pointer;
      }
      figure {
        img {
          object-fit: cover;
          width: 100%;
          height: 240px;
        }
      }
      .title {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .top-header {
    display: grid;
    height: 80px;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    padding: 0 $body-padding;
    font-size: 16px;
    .right-side {
      display: flex;
      justify-content: flex-end;
    }
  }
  .category-header {
    position: relative;
    figure {
      margin: 0 !important;
      position: absolute;
      bottom: 0;
      top: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .store-info-container {
      height: 380px;
      display: flex;
      flex-direction: column;
      background: transparent;
      & > div:first-child {
        flex-basis: 80px;
        flex-grow: 1;
      }
      & > div:last-child {
        flex-basis: 80px;
        flex-grow: 1;
      }
      .store-info {
        z-index: 1;
        display: flex;
        align-items: center;
        .info-box {
          display: flex;
          padding: 24px 0;
          background-color: #ffffffdd;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
          & > div:first-child {
            width: 80px;
          }
          .content {
            h1 {
              font-size: 36px;
            }
          }
          & > div:last-child {
            width: 40px;
          }
        }
      }
    }
  }
  //category
  .category-menu {
    padding: 0 $body-padding;
    @include breakpoint(mobileonly) {
      padding: 0 $body-padding-mobile;
    }
    height: 78px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--body-f-ll);
    position: sticky;
    top: 0;
    background-color: var(--body-color);
    & > a {
      border-bottom: 1px solid transparent;
      cursor: pointer;
      color: var(--body-f);
      margin-right: 40px;
      align-self: stretch;
      display: flex;
      align-items: center;
      &.active {
        border-bottom: 2px solid var(--primary);
        color: var(--primary);
      }
      &:hover {
        color: var(--primary);
        text-decoration: none;
      }
    }
  }
  .category-list {
    padding: 0 $body-padding;
    & > li {
      padding: 40px 0px 8px;
    }
    @include breakpoint(mobileonly) {
      padding: 0 $body-padding-mobile;
    }
    list-style: none;
    .category-title {
      padding-bottom: 24px;
    }
    .product-list {
      list-style: none;
      padding: 0;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      & > li {
        border: 1px solid var(--body-f-ll);
        transition: 0.3s border-color;
        &:hover {
          border: 1px solid var(--body-f);
          cursor: pointer;
        }
        align-self: stretch;

        .product-box {
          display: flex;

          img {
            width: 158px;
            height: 158px;
            object-fit: cover;
          }
          .product-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 16px;
            h4 {
              font-weight: normal;
            }
          }
          .product-price {
            margin-top: auto;
          }
          .discription {
            color: var(--body-f-l);
            font-size: 14px;
            word-break: break-word;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            padding-top: 4px;
            overflow: hidden;
            display: -webkit-box;
            div {
              word-break: break-word;
            }
          }
        }
      }
    }
  }
  //modal
  @keyframes modal-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .modal-backdrop {
    position: fixed;
    height: 100vh;
    z-index: 4;
    overflow: auto;
    background: rgba(38, 38, 38, 0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    .modal-container {
      min-height: 100vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-box-pack: start;
      .size-y {
        height: 80px;
      }
      .modal-body {
        animation: modal-animation 0.2s ease-in;
        background: white;
        margin: 0 auto;
        position: relative;
        .modal-content {
          width: 676px;
          position: relative;
        }
      }
    }
  }
  .product-details {
    & > img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border: none;
    }
    .product-info {
      padding: 24px 24px 32px;
      .product-description {
        color: var(--body-f-l);
      }
    }
    hr {
      height: 1px;
      margin: 0;
      border: none;
      background-color: var(--body-f-ll);
    }
    .footer {
      padding: 24px;
      position: sticky;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .quantities {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: var(--secondary);
          color: var(--body-f);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        div {
          width: calc(1ch + 32px);
          text-align: center;
        }
      }
      .add-to-cart-btn {
        background-color: var(--primary);
        color: var(--primary-f);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        font-weight: bold;
        & > div {
          flex: 1;
        }
        &div:last-child {
          text-align: right;
        }
      }
    }
  }
}
