@use 'sass:color';
:root {
  --primary: #000000;
  --primary-light: #2c2c2c;
  --primary-dark: #000000;
  --primary-f: rgba(255, 255, 255, 0.87);
  --secondary: #eeeeee;
  --secondary-light: #ffffff;
  --secondary-dark: #bcbcbc;
  --secondary-f: rgba(255, 255, 255, 0.87);

  --body-color: #ffffff;
}
