@use 'sass:color';
:root,
[data-theme="default"] {
  --primary: #000000;
  --primary-light: #2c2c2c;
  --primary-dark: #000000;
  --primary-f: rgba(255, 255, 255, 0.87);
  --secondary: #eeeeee;
  --secondary-light: #ffffff;
  --secondary-dark: #bcbcbc;
  --secondary-f: rgba(255, 255, 255, 0.87);

  --body-color: #ffffff;
  --body-f: rgba(0, 0, 0, 0.87);
  --body-f-l: rgba(0, 0, 0, 0.7);
  --body-f-ll: rgba(0, 0, 0, 0.1);
}
