@import "./theme.scss";
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-500 {
  font-weight: 500;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.h-24 {
  height: 24px;
}
.w-16 {
  width: 16px;
}
.w-8 {
  width: 8px;
}
.custom-radio {
  &.disabled {
    opacity: 0.5;
  }
  input {
    pointer-events: none;
    outline: none;
    opacity: 0;
    position: absolute;
    border: 0;
    padding: 0;
  }
  label {
    display: flex;
    width: 100%;
    cursor: pointer;
    &::before {
      vertical-align: top;
      width: 22px;
      height: 22px;
      content: "";
      display: flex;
      border-width: 3px;
      border-style: solid;
      border-color: rgb(175, 175, 175);
    }
    &.radio::before {
      border-radius: 50%;
    }
    div:first-of-type {
      width: 16px;
      height: 1px;
      padding: 0;
      margin: 0;
      flex-shrink: 0;
    }
    .checkmark {
      display: none;
      path {
        fill: var(--primary);
      }
    }
  }
  input:checked {
    & + label.radio::before {
      border-color: var(--primary);
      border-width: 8px;
    }

    & + label.check::before {
      display: none;
    }
    & + label > .checkmark {
      display: block;
    }
  }
}
